TOKEN_SECRET=
RELOGIN_MARGIN=
USER_RUMOLA=
PASSWORD_RUMOLA=
USER_PORTAL=
PASSWORD_PORTAL=
USER_PORTAL_API=
PASSWORD_PORTAL_API=
USER_PORTAL_MUNICIPIO=
PASSWORD_PORTAL_MUNICIPIO=
BMG_URL=
BMG_LOGIN=
BMG_PASSWORD=
OLE_URL=
OLE_USUARIO_MASTER=
OLE_LOJA=
OLE_OPERADOR=
OLE_AUTH_KEY=
OLE_DEVELOPER_APPLICATION_KEY=
SAFRA_API_URL=
SAFRA_API_USERNAME=
SAFRA_API_PASSWORD=
PIPEFY_URL=
PIPEFY_TOKEN=
SSL_CERTIFICATE_PATH=
SSL_KEY_PATH=

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"