table {
  background-color: white;
  border-collapse: collapse;
  font-family: arial, sans-serif;
  width: 100%;
}

td, th, tr {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}

.table-title {
  background-color: #dddddd;
  border: 1px solid black;
  font-family: arial, sans-serif;
  font-weight: 600;
  padding: 8px;
  width: 100%;
}

.margin {
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 15px;
  width: 790px;
}

.margins {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
}